.container {
    position: absolute;
    top: 200px;
    z-index: -1;
    display: flex;
    flex-direction: column;
}
.btns {
    display: flex;
    flex-direction: column;
    margin: 25px 0px;
}

.btns a {
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    margin: 0px 20px 15px 20px;
}

.continue {
    background: #aaa;
    color: #fff;
    transition: .4s;
}

.continue:hover {
    background: #777;
}

.finalize {
    background: #005300;
    color: #fff;
}

.container > p {
    align-self: center;
    padding-bottom: 20px;
}

.listContainer {
    border-top: 1px solid #006eff;
    background: #bbb;
    padding: 20px 20px 100px 20px;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    margin-top: 30px;
}

.list li {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    color: #555;
}

.list li i {
    margin-right: 10px;
}

.list li p {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

.listContainer > p {
    font-size: .8em;
    margin-top: 10px;
    text-align: center;
    color: #555;
}